* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main {
  width: 70%;
  margin: auto;
}
body main header h2 {
  margin: 0;
}
body main header {
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main header div.switch {
  margin-top: 1em;
}
body main .buttons-customized {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body main .buttons-customized a {
  margin-right: 2em;
  margin-top: 1em;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
body footer .social-media a {
  margin-right: 1em;
  font-size: 3em;
}

/* ul.dropdown-content.select-dropdown.modified-color,
ul.dropdown-content.select-dropdown.modified-color .active {
  background-color: black !important;
}
ul.dropdown-content.select-dropdown li:hover {
  background-color: white !important;
} */
